.container-button {
  height: 200px;
  position: relative
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #4a5c79;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  font-family: quicksand;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: quicksand;
  border-collapse: collapse;
  text-align: center;
  color: white;
}
h3 {
  font-family: quicksand;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

@font-face {
  font-family: quicksand;
  src: url('quicksand/Quicksand-Bold.otf');
}